/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
@tailwind base;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

@import "./su-table.css";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

@variants responsive {
  .scale-100 {
    transform: scale(1);
  }

  .scale-103 {
    transform: scale(1.03);
  }

  .transition-home-bg {
    transition: all 5s, opacity 0.35s;
  }

  .transition-050 {
    transition: 0.5s;
  }
  .transition-010 {
    transition: 0.1s;
  }

  .bg-nd {
    background: rgba(0, 0, 0, 0.5);
  }

  .small-quote {
    transform: scale(0.7) translate(-3.1rem, 0.8rem);
  }
  .no-small-quote {
    transform: none;
  }
  .-bottom-14 {
    bottom: -3.5rem;
  }
}

.hover-parent:hover .parent-hover\:opacity-1 {
  opacity: 1;
}

.hover-parent:hover .parent-hover\:bottom-0 {
  bottom: 0;
}
