/*		Table
---------------------------------------------------------------*/
.su-table {
  width: 100%;
  margin-bottom: 1.5em;
}

.su-table table {
  min-width: 100% !important;
  margin: 0 !important;
  border-collapse: collapse !important;
  font-size: 1em !important;
  border: 1px solid #ccc !important;
  text-align: left;
  border-spacing: 0;
}

.su-table table th {
  text-align: center !important;
  padding: 1em !important;
  font-size: 1em !important;
  font-weight: bold !important;
  color: #333 !important;
  border: 1px solid #ccc !important;
  background: #f0f0f0 !important;
}

.su-table table td {
  padding: 0.5em 1em !important;
  border: 1px solid #ccc !important;
  background: #fff !important;
  @apply text-gray-700;
}

.su-table-responsive {
  overflow-x: auto;
}

.su-table-responsive table th,
.su-table-responsive table td {
  word-break: initial !important;
}

.su-table-alternate table tr:nth-child(even) td {
  background-color: #f7f7f7 !important;
}

.su-table-fixed table {
  table-layout: fixed !important;
}

.su-table h5 {
  @apply text-gray-900;
  font-weight: 600;
}
